*{
    margin: 0;
    padding: 0;
    
    color:#52545E;
}

html{font-size: 62.5%;background-color: #F6F6F6;}
html,body{
	width: 100%;
	
}
a{
	text-decoration: none;
}
li{
	list-style: none;
}
i,em{
	font-style: normal;
	font-weight: 500;
	
}
.font-show{
    color:#EE4F4F;
}

.van-nav-bar>.van-nav-bar__left .van-icon{
	color:#52545E;
}
.letterword .van-button__text{
		font-size: 1.6rem;
		color: white;
	}
.assessment .van-nav-bar__text{
	color:tomato;
	font-size: 1.6rem;
}
.van-cell__title span{
	font-size: 1.5rem;
}
.selllist .van-button__text{
	color: #EE4F4F;
	font-size: 1.4rem;
}
.selllist .van-card{
	border-bottom: 1px solid #F6F6F6;
	margin-top: 0;
}
.selllist .van-card:not(:first-child){
	margin-top: 0px;
}
.selllist .van-card__row{
    margin-top: 0.8rem;
}
.selllist .van-card__title{
    font-size: 1.5rem;
}
.selllist .van-card__footer{
    bottom: 15px;
}
.sellcollet .van-card__footer{
	bottom: 3rem;
}
/* 轻提示样式 */
.van-toast>div{
	color:white;
}
.van-toast>.van-icon{
	color:white;
}
.van-button .van-button__text,.van-toast .van-button__text{
	color:white;
	font-size: 1.4rem;
}
/* 弹框头部 */
.van-dialog__header{
	font-size: 1.7rem;
}
/* 弹框内容  */
.van-dialog__message{

}
.van-dialog .van-button__text{
	color:#52545E;
	font-size: 1.4rem;
}

.van-submit-bar__price span{
	font-size: 1.5rem;
}
.order .van-button .van-button__text{
	font-size: 1.6rem;
}
.van-address-edit .van-button .van-button__text{
	color: #000;
}